extends base

block scripts
  script(src='/scripts/repo.js')

block content
  .searcher
    input(
      type="text"
      id="searchFiled"
      value=""
    )
    button(
        id="searchBtn"
        loaded="initSearcher()"
      )
  table(
    border='1'
    id='repoTable'
  )
