.container
  nav(class="navbar navbar-inverse navbar-fixed-top")
    container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        .navbar-brand
          a(href="/ui/") Data Cleansing Hub
      #navbar(class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/ui/") Dashboard
          li
            a(href="/ui/models") Models
          li
            a(href="/ui/services") Services
          li
            div(class="btn-group" role="group")
              button(
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false")= user.displayName
                span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="/logout") Log out
