extends base

block content
  .col-md-8
    form(
      action= publishUri
      method="POST")
      .form-group
        span(class="glyphicon glyphicon-asterisk")
        label(for="nameInput") Name:
        input(
          require="true"
          type="text"
          class="form-control"
          name="name"
          id="nameInput"
          placeholder="Service's alias")

      include ../commonForm.jade
      button(type="submit" class="btn btn-default") Submit
