extends actionsBase

block scripts
  link(rel='stylesheet', href='/stylesheets/dataEditor.css')
  script(src='/scripts/dataEditor.js')
  script(src='//cdn.bootcss.com/ace/1.2.3/ace.js')


block mainContent
  div(
    id="uploadBtn"
    data-targetUrl= uploader_url
    data-tagUrl= tag_url
    data-successUrl= success_url
    class="btn btn-default") Upload

  #dataEditor

block actionContent
  div(class="panel panel-default")
    .panel-body
      ul(class='list-group')
        a(
          class='list-group-item'
          href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id + "/publish")
            = "Publish as Service"
