//
  .form-group
    label(for="keywordsInput") Keywords:
    input(
      type="text"
      class="form-control"
      name="keywords"
      id="keywordsInput"
      placeholder="Space seperated keywords")
.form-group
  label(for="datatypeInput") Data Type:
  input(
    type="text"
    class="form-control"
    name="datatype"
    id="datatypeInput"
    placeholder="Target data type")
.form-group
  label(for="domainInput") Domain:
  input(
    type="text"
    class="form-control"
    name="domain"
    id="domainInput"
    placeholder="Domain for the Model")
.form-group
  label(for="localeInput") Locale:
  input(
    type="text"
    class="form-control"
    name="locale"
    id="localeInput"
    placeholder="Locale"
    value="Global")
.form-group
  label(for="localeInput") Description:
  textarea(
    type="text"
    class="form-control"
    row="6"
    name="description"
    id="localeInput"
    placeholder="The model's details.")
