extends actionsBase

block mainContent
  ul(class="nav nav-tabs")
    li(
      role="presentation"
      class= pageId == "TAG_META" ? "active" : "")
      a(href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id)
        = "Details"
    //
      li(
        role="presentation"
        class= pageId == "TAG_DATA" ? "active" : "")
        a(href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id + "/data")
          = "Data"
    li(
      role="presentation"
      class= pageId == "TAG_USAGE" ? "active" : "")
      a(href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id + "/usage")
        = "Usages"
  block tag_detail

block actionContent
  div(class="panel panel-default")
    .panel-body
      ul(class='list-group')
        a(
          class='list-group-item'
          href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id + "/publish")
            = "Publish as Service"
