extends base

block content
  .col-md-8
    form(
      action= URI_REPO + repoId + URI_MODELS
      method="POST")
      .form-group
        span(class="glyphicon glyphicon-asterisk")
        label(for="nameInput") Name:
        input(
          require="true"
          type="text"
          class="form-control"
          name="id"
          id="nameInput"
          placeholder="Unique Name in the Repository")
      .form-group
        span(class="glyphicon glyphicon-asterisk")
        label(for="algorithmInput") Algorithm:
        select(
          require="true"
          class="form-control"
          name="algorithm"
          id="algorithmInput"
          placeholder="The algorithm which use this model")
          each val in algorithms
            option(
              value= val.key
              )= val.label

      include ../commonForm.jade
      button(type="submit" class="btn btn-default") Submit
