extends base

block breadcrumb
  li
    a(href="/ui/services") Services
  li= service.metadata.name

block content
  .col-md-9
    ul(class="nav nav-tabs")
      li(
        role="presentation"
        class= viewId == "service/meta" ? "active" : "")
        a(href= "/ui/services/" + service._id) Details
      li(
        role="presentation"
        class= viewId == "service/usage" ? "active" : "")
        a(href= "/ui/services/" + service._id + "/usage") Usage
    block service_detail
